{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="logo">
    <!-- TODO: set up linking with clean .js, avoiding inline code -->
    <span>:</span><span class="highlight-green"
          onclick="javascript:location.href='mailto:breuss.martin@gmail.com'">/</span><span class="highlight-orange"
          onclick="javascript:location.href='portfolio'">\/</span><span class="highlight-blue"
          onclick="javascript:location.href='http://www.xyayz.com'">\</span><span>:</span>
    <!-- TODO: animate click events:
                1. contact transforms to a "!"
                2. portfolio moves the M arrow downwards
                3. xyayz jumps up and dives down -->
  </div>
  <div class="intro-text">
    <h1>&lt;-- Development into all directions --&gt;</h1>
    <p>I like doing <strong>data analyses</strong> of texts or numbers, creating <strong>visualizations</strong>, building pages on the <strong>web</strong>, as well as playing with <strong>artificial learning</strong> algorithms</p>
    <p>I like languages, experiences, systems, and brains</p>
    <p>If you want to tell me something, or think that I should work for you, just send me an email. :)</p>
  </div>
  <!-- displayed on larger devices (browsers) -->
  <div class="button-row-main">
    <button class="nav-button highlight-green">
      <a href="https://earn.com/martin-martin/">contact me</a>
    </button>
    <button class="nav-button highlight-orange">
      <a href="portfolio">portfolio</a>
    </button>
    <button class="nav-button highlight-blue">
      <a href="http://www.xyayz.com" target="_blank">more stuff</a>
    </button>
  </div>
  <!-- displayed on smaller devices (mobile) -->
  <div class="button-row-mobile">
    <button class="nav-mobile highlight-green">
      <a href="https://earn.com/martin-martin/"><img class="icon" src="{% static "portfolio/icons/mail.svg" %}">email</a>
    </button>
    <button class="nav-mobile highlight-orange">
      <a href="portfolio"><img class="icon" src="{% static "portfolio/icons/portfolio.svg" %}">portfolio</a>
    </button>
    <button class="nav-mobile highlight-blue">
      <a href="http://www.xyayz.com" target="_blank"><img class="icon" src="{% static "portfolio/icons/science.svg" %}">more</a>
    </button>
  </div>
  <hr class="separator">

{% endblock content %}
