{% extends "base.html" %}
{% load static %}


{% block content %}

<h1> {{ title }} </h1>

<div class="msg">

    <p> {{ msg }} </p>

</div>

  <div class="portfolio">
    <!-- render each project including name, screenshot, description,
        and available links (live project, code, and related blog post) -->
    {% for project in projects %}

    <div class="project">

      <h2> {{ project.title }} </h2>

      <p class="technologies">
            <!-- to iterate over a ManyToManyField we need to transform
                it into an iterable first, this works with '.all' -->
          {% for tech in project.technologies.all %}

              <span> {{ tech }} </span>

          {% endfor %}

      </p>

      <!-- depending on availability, display either image as link,
          only image, or an explanatory string that the img is missing -->
      {% if project.live_link and project.image %}

        <a href= {{ project.live_link }}  target="_blank">

          <div class="img-container" style='background-image: url("{% static "portfolio/screenshots/{{ project.image }}" %}")'></div>

        </a>

      {% elif project.image %}

        <div class="img-container" style='background-image: url("{% static "portfolio/screenshots/{{ project.image }}")'></div>

      {% else %}

        <div class="img-container">currently no screenshot available</div>

      {% endif %}

      <p> {{ project.description }} </p>

      <div class="project-links">

        {% if project.live_link %}

          <a href= {{ project.live_link }}  target="_blank">live version</a>

        {% endif %}

        {% if project.source_code %}

          <a href= {{ project.source_code }}  target="_blank">code</a>

        {% endif %}

        {% if project.blog_link %}

          <a href= {{ project.blog_link }}  target="_blank">more info</a>

        {% endif %}

      </div>

    </div>

    {% endfor %}

  </div>

  <!-- displayed on larger devices (browsers) -->
  <div class="button-row-portfolio">
    <button class="nav-button highlight-green">
      <a href="mailto:breuss.martin@gmail.com">contact me</a>
    </button>
    <button class="nav-button highlight-orange">
      <a href="/">return home</a>
    </button>
    <button class="nav-button highlight-blue">
      <a href="#">back to top</a>
    </button>
  </div>
  <!-- displayed on smaller devices (mobile) -->
  <div class="button-row-portfolio-mobile">
    <button class="nav-mobile highlight-green">
      <a href="mailto:breuss.martin@gmail.com"><img class="icon" src="{% static "portfolio/icons/mail.svg" %}"></a>
    </button>
    <button class="nav-mobile highlight-orange">
      <a href="/"><img class="icon" src="{% static "portfolio/icons/home.svg" %}"></a>
    </button>
    <button class="nav-mobile highlight-orange">
      <a href="#"><img class="icon" src="{% static "portfolio/icons/top.svg" %}"></a>
    </button>
  </div>

{% endblock content %}

{% block overflow %}

    <div class="overflow">pst... this is a secret. :)</div>

{% endblock overflow %}

